$color_black: #0c1115;
$color_gray_dark: #6a6b6c;
$color_blue: #01509f;
$color_yellow: #ffe530;
$color_saumon: #ffd09e;
$color_gray_light: #f8fcff;

$border_radius: 1rem;
$border_logo: 0.5rem;

$width_nav: 10%;
