$color_black: rgb(12,17,21);
$color_gray_dark: rgb(106, 107, 108);
$color_blue: rgb(1, 80, 159);
$color_yellow: rgb(255, 229, 48);
$color_saumon: rgb(255,208,158);
$color_gray_light: rgb(248, 252, 255);

$border_radius: 1rem;
$border_logo: 0.5rem;

$margin_navbar: 15rem;
