<div id="header">
  <%= image_tag("logo_baco.png", :alt => "logo baco", :id => "logo_baco") %>
  <h2><%= @titre %></h2>
  <div class="deconnexion">
    <%= link_to "Déconnexion",  destroy_utilisateur_session_path, :method => :delete, :class => 'bouton bouton_premier'  %>
  </div>
</div>
