<div id="header" class="">
  <div class="image">
    <%= image_tag("logo_baco.png", :alt => "logo baco", :id => "logo_baco") %>
  </div>
  <div class="container_header">
    <h2><%= @titre %></h2>
    <div class="deconnexion">
      <%= button_to "Déconnexion",  destroy_utilisateur_session_path, method: :delete, :class => 'bouton bouton_premier rounded-lg'  %>
    </div>
  </div>
</div>
