<div id="navbar_container">
  <div class="nav_link">
    <%= link_to image_tag("icons/home.svg"), accueil_path, 'data-toggle': 'tooltip', title: "Home" %>
    <%= link_to "Accueil", accueil_path %>
  </div>
</div>
