<% unless current_utilisateur.admin? %>
  <h2>Vous n'avez pas les droits d'administrateur.</h2>
<% end %>


<% if current_utilisateur.admin? %>

  <%= render(HeaderAdminComponent.new(titre: "Liste des membres du club (Le club compte #{@nombre_membres} personnes)")) %>
  <%= render(TableauComponent.new(colonnes: @colonnes, utilisateurs: @utilisateurs)) %>

<% end %>
