<%= render(InscriptionSmallLogoComponent.new(title: "Hello")) %>

<div class="container_form">
  <%= simple_form_for :inscription_saison, url: "/inscription/saison", method: "GET" do |form| %>


  <% end %>
</div>
