<div class="container_inscription">
  <%= render(InscriptionLogoComponent.new(text: "Inscription pour la saison #{@saison}")) %>
  <div class="button_inscription">
    <button>
      <%= link_to "J'ai déjà été licencié(e) au club" %>
    </button>
    <button>
      <%= link_to "J'ai n'ai jamais été licencié(e) au club" %>
    </button>
  </div>
</div>
