@import "../stylesheets/config/variables.scss";

// Pages
@import "../stylesheets/pages.scss";

// Components
@import "../stylesheets/components/header_admin_component.scss";
@import "../stylesheets/components/navbar_component.scss";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;

  a {
    text-decoration: none;
    color: $color_blue;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .bouton {
    padding: 0.5rem 1rem;
    border-radius: $border_radius;
    cursor: pointer;
  }

  .bouton_premier {
    background-color: $color_blue;
    color: white;
  }

  .bouton_second {
    background-color: white;
    color: $color_blue;
    border: 1rem solid $color_blue;
  }

  input {
    border: none;
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: $color_black;
    font-weight: bold;
  }
}
