@import "../stylesheets/config/variables.scss";

#header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container_header {
    display: flex;
    justify-content: space-between;
    width: 90%;

    h2 {
    }

    .deconnexion {
      margin-right: 2rem;
    }
  }

  .image {
    width: 10%;
    height: inherit;

    img {
      height: inherit;
    }
  }
}
