.container_inscription_logo {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  #logo_baco {
    width: 50%;
    margin: 1% 1%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 440px) {
  .container_inscription_logo {
    #logo_baco {
      width: 30%;
      margin: 0;
    }
  }
}
